<div *ngIf="comments$ | async as comments">
  <ul class="list-unstyled comment-list">
    <li *ngFor="let comment of comments">
      <p class="text-dark font-weight-bold mr-1">{{ comment.userName }}</p>
      <em>
        {{ comment.date | date: "dd-MM-yyyy HH:mm" }}
      </em>
      <p class="break-word mb-2">{{ comment.text }}</p>
    </li>
  </ul>
  <div class="mt-4">
    <form [formGroup]="commentForm" (submit)="save()">
      <div class="input-group">
        <textarea class="form-control" formControlName="comment"></textarea>
        <div class="input-group-append">
          <button
            [disabled]="commentForm.invalid"
            class="btn btn-primary pull-left"
          >
            Publicar
          </button>
        </div>
      </div>
      <app-messages
        message="Tamanho máximo de 300 caracteres"
        *ngIf="!!commentForm.get('comment')?.errors?.maxLenght"
      ></app-messages>
    </form>
  </div>
</div>

<!-- !! Somente SE e ?. em caso DE-->
