<h4 class="text-center">Login</h4>
<form (ngSubmit)="login()" class="form mt-4" #loginForm="ngForm">
  <div class="form-group m-2">
    <input
      [(ngModel)]="user"
      name="user"
      type="text"
      class="form-control"
      placeholder="nome do(a) usuário(a)"
      #userField="ngModel"
      required
    />
    <app-messages
      *ngIf="userField.invalid && userField.touched"
      message="Usuário obrigatório"
    ></app-messages>
  </div>

  <div class="form-group m-2">
    <input
      type="password"
      class="form-control"
      placeholder="Senha"
      [(ngModel)]="password"
      name="password"
      #passwordField="ngModel"
      required
    />
    <app-messages
      *ngIf="passwordField.invalid && passwordField.touched"
      message="Senha obrigatória"
    ></app-messages>
  </div>

  <button
    type="submit"
    class="btn btn-primary btn-block m-2"
    [disabled]="loginForm.invalid"
  >
    Login
  </button>
</form>

<p>Não é um usuário? <a [routerLink]="['new-user']"> Cadastre-se agora</a></p>
